:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/*
  CSS STYLINGS FOR HOME PAGE
*/
#main-heading-home {
  color: greenyellow;
  font-size: 64px;
}

.main-home-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  margin: auto;
}

.login-signup-button-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 340px;
  align-items: center;
}

#login-button {
  background-color: greenyellow;
  color: black;
  font-size: 18px;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

#signup-button {
  background-color: #efefef;
  color: black;
  font-size: 18px;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

#to-dashboard-button {
  background-color: greenyellow;
  color: black;
  font-size: 32px;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

/* LOGIN STYLING */
.login-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 320px;
  align-items: center;
}

#login-title {
  font-size: 32px;
}

.input-field {
  height: 32px;
  width: 264px
}

.login-button-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 240px;
  align-items: center;
}

#login-submit {
  background-color: greenyellow;
  color: black;
  font-size: 18px;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
}

#login-cancel {
  background-color: #efefef;
  color: black;
  font-size: 18px;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
}

/* SIGNUP STYLING */
.signup-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 320px;
  align-items: center;
}

#signup-title {
  font-size: 32px;
}

.signup-button-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 240px;
  align-items: center;
}

#signup-submit {
  background-color: greenyellow;
  color: black;
  font-size: 18px;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
}

#signup-cancel {
  background-color: #efefef;
  color: black;
  font-size: 18px;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
}

/*
  DASHBOARD STYLING
*/

#main-dashboard-div {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#dashboard-project-title {
  font-size: 48px;
  color: greenyellow;
}

#dashboard-create-project-button {
  background-color: #565656;
  color: greenyellow;
  border-color: white;
  border: solid;
  border-width: 2px;
}

.dash-project-div {
  width: 640px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  border: solid;
  border-radius: 10px;
  border-width: 4px;
  border-color: greenyellow;
  margin-top: 20px;
}

.dash-project-name {
  margin-left: 20px;
  font-size: 24px;
  margin-bottom: 0;
  border-bottom: solid;
  border-color: greenyellow;
  width: 50%;
  color: #EFEFEF;
}
.dash-project-type {
  margin-left: 20px;
  margin-bottom: 0;
  color: #EFEFEF
}
.dash-project-published {
  margin-left: 20px;
  color: #EFEFEF
}
.dash-project-button-modify-classes {
  margin-bottom: 20px;
  background-color: #888888;
  color: #EFEFEF;
  border-color: #EFEFEF;
}
.dash-project-button-delete-project {
  margin-bottom: 20px;
  background-color: #121212;
  color: red;
  border-color: red;
}
.dash-project-button-delete-classes {
  margin-bottom: 20px;
  background-color: #121212;
  color: #FFCDCD;
  border-color: #FFCDCD;
}
.dash-proj-div-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.dash-proj-button-hold {
  display: flex; 
  flex-direction: column;
  justify-content: space-around;
}
.dash-project-add-data-button {
  margin-left: 20px;
  background-color: #121212;
  color: lightskyblue;
  border-color: lightblue;
}
.dash-project-train-button {
  margin-left: 20px;
  margin-top: 20px;
  background-color: #121212;
  color: lightgreen;
  border-color: green;
}
.dash-project-infer-button {
  margin-left: 20px;
  margin-top: 20px;
  background-color: #121212;
  color: orange;
  border-color: yellow;
}